/* =====================================
   AGNES MEMORIAL MEDICAL HOSPITAL
   PATIENT PROFILE DESIGN
===================================== */


*{

box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

}



body{

margin:0;

background:#f1f5f9;

color:#1e293b;

}



/* MAIN CONTAINER */

.profile-page{

width:90%;

max-width:1100px;

margin:30px auto;

}






/* HEADER */


.profile-header{

background:#0284c7;

color:white;

padding:20px 30px;

border-radius:15px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 5px 15px rgba(0,0,0,.15);

}



.profile-header h1{

margin:0;

font-size:28px;

}



.profile-header button{


background:white;

color:#0284c7;

border:none;

padding:12px 20px;

border-radius:10px;

font-size:15px;

cursor:pointer;

transition:.3s;


}


.profile-header button:hover{


transform:scale(1.05);

background:#e0f2fe;


}






/* PROFILE CARD */


.profile-card{


margin-top:30px;

background:white;

padding:30px;

border-radius:20px;

display:flex;

gap:50px;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,.1);


}







/* IMAGE SECTION */


.photo-section{


width:220px;

text-align:center;


}



#profileImage{


width:130px;

height:130px;

border-radius:50%;

object-fit:cover;

border:5px solid #0284c7;

}



.photo-section label{


display:block;

margin-top:15px;

color:#0284c7;

font-weight:bold;


}



#imageUpload{


margin-top:10px;

width:100%;


}








/* DETAILS */


.details-section{


flex:1;


}



.details-section h2{


color:#0284c7;

margin-bottom:20px;


}




.details-section p{


background:#f8fafc;

padding:12px;

border-radius:10px;

margin:10px 0;

font-size:16px;


}




.details-section i{


color:#0284c7;

width:25px;


}








/* BUTTONS */


button{


cursor:pointer;

}



#editBtn,


#saveBtn{


background:#0284c7;

color:white;

border:none;

padding:12px 25px;

border-radius:10px;

font-size:16px;

margin-top:15px;

}



#editBtn:hover,


#saveBtn:hover{


background:#0369a1;


}







/* EDIT BOX */


.edit-box{


display:none;

margin-top:30px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.1);


}




.edit-box h2{


color:#0284c7;


}





.edit-box input,


.edit-box select,


.edit-box textarea{


width:100%;

padding:14px;

margin:10px 0;

border-radius:10px;

border:1px solid #cbd5e1;

font-size:15px;


}



.edit-box textarea{


height:120px;

resize:none;


}






/* MOBILE RESPONSIVE */


@media(max-width:700px){



.profile-card{


flex-direction:column;


}



.profile-header{


flex-direction:column;

gap:20px;


}



}