.notification-page{

padding:30px;

background:#f1f7fb;

min-height:100vh;

}



.header{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}



.header h1{

color:#004e64;

}



.header button{

background:#087ea4;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

}



.notification-box{

background:white;

margin-top:20px;

padding:20px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}



.notification-box h3{

color:#004e64;

}



.notification-box button{

padding:10px 15px;

border:none;

border-radius:8px;

background:#087ea4;

color:white;

cursor:pointer;

margin-right:10px;

}



.delete-btn{

background:#d90429 !important;

}



.empty{

text-align:center;

background:white;

padding:40px;

margin-top:20px;

border-radius:15px;

}