*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial, sans-serif;

}



body{

background:#f1f5f9;

}



.appointments-container{

width:90%;

margin:auto;

padding:30px;

}







/* HEADER */


.appointments-header{

background:linear-gradient(135deg,#0284c7,#0f766e);

color:white;

padding:25px;

border-radius:15px;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

box-shadow:0 8px 20px rgba(0,0,0,.15);

}



.appointments-header h1{

font-size:30px;

}



.appointments-header p{

margin-top:8px;

}





.appointments-header button{


border:none;

background:white;

color:#0284c7;

padding:12px 20px;

border-radius:25px;

font-size:15px;

cursor:pointer;

transition:.3s;

}



.appointments-header button:hover{


transform:scale(1.05);

}








/* CARD */


.appointment-card{


background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.1);


}





.card-title{


margin-bottom:20px;

color:#0f172a;


}





/* TABLE */


.table-container{

overflow-x:auto;

}



table{


width:100%;

border-collapse:collapse;


}



thead{


background:#0284c7;

color:white;


}




th,td{


padding:15px;

text-align:center;

border-bottom:1px solid #ddd;


}



tbody tr:hover{


background:#f8fafc;


}








/* STATUS */


.status{


padding:7px 15px;

border-radius:20px;

font-size:13px;

font-weight:bold;


}




.status.Pending{


background:#fef3c7;

color:#92400e;


}



.status.Confirmed{


background:#dcfce7;

color:#166534;


}



.status.Completed{


background:#dbeafe;

color:#1e40af;


}



.status.Cancelled{


background:#fee2e2;

color:#991b1b;


}









/* CANCEL BUTTON */


.cancel-btn{


background:#dc2626;

color:white;

border:none;

padding:8px 15px;

border-radius:8px;

cursor:pointer;


}



.cancel-btn:hover{


background:#991b1b;


}




.cancel-btn:disabled{


opacity:.5;

cursor:not-allowed;


}









footer{


text-align:center;

margin-top:30px;

color:#64748b;


}








/* MOBILE */


@media(max-width:700px){


.appointments-header{


flex-direction:column;

gap:20px;

text-align:center;


}


.appointments-container{


width:100%;

padding:15px;


}


}