/* =====================================
   AGNES MEMORIAL MEDICAL HOSPITAL
   LOGIN PAGE CSS
===================================== */


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;

}



body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(
135deg,
#075985,
#0ea5e9
);

}



/* LOGIN CONTAINER */


.login-container{

width:100%;
display:flex;
justify-content:center;
align-items:center;

}




/* LOGIN BOX */


.login-box{

background:white;
width:380px;
padding:40px;
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,.2);
animation:slide .8s ease;

}





@keyframes slide{


from{

opacity:0;
transform:translateY(-50px);

}


to{

opacity:1;
transform:translateY(0);

}


}







/* LOGO */


.hospital-logo{

text-align:center;
margin-bottom:30px;

}



.hospital-logo i{

font-size:60px;
color:#075985;

}



.hospital-logo h2{

color:#075985;
margin-top:10px;

}



.hospital-logo p{

color:#777;

}







/* INPUTS */


.input-box{

display:flex;
align-items:center;
border:1px solid #ddd;
border-radius:10px;
padding:12px;
margin-bottom:20px;

}



.input-box i{

color:#075985;
margin-right:10px;

}



.input-box input{

border:none;
outline:none;
width:100%;
font-size:16px;

}






/* ROLE SELECT */


select{

width:100%;
padding:13px;
border-radius:10px;
border:1px solid #ddd;
margin-bottom:20px;
font-size:15px;
outline:none;

}







/* LOGIN BUTTON */


button{


width:100%;
padding:14px;
border:none;
border-radius:25px;
background:#075985;
color:white;
font-size:17px;
cursor:pointer;
transition:.3s;


}



button:hover{


background:#0ea5e9;
transform:translateY(-3px);


}






/* MESSAGE */


#message{

text-align:center;
margin-top:15px;
font-weight:bold;

}







/* MOBILE */


@media(max-width:450px){


.login-box{

width:90%;
padding:30px;

}


}