#menu{
    display: none;
}
#loginpage{
    display: none;
    align-items: center;
    justify-items: center;
    background-color: rgb(135, 147, 222);
    box-sizing: inherit;
    border-radius: 30px;
    justify-content: center;
    height: 500px;
    
}
input{
    border-radius: 5px;
    border-color: darkmagenta;
    box-sizing: border-box 50px;
    width: 300px;
    padding: 10px;
    text-size: 18px;
    height: 10px;
}
#registerpage{
    display: none;
    align-items: center;
    justify-items: center;
     background-color: aquamarine;
}
#resetpage{
    display: none;
    justify-content: center;
    align-items: center;
     background-color:white;

}
#verifypage{
    display: none;
    align-items: center;
    justify-items: center;
    background-color: rgb(135, 160, 222);
    
}
#frontpage{
    display: block;
    margin-left: 20px;
    text-align: center;
    background-image: url(mike.png);
    height: 700px;
    place-items: center;
}
#websitepage{
    display: none;
}
button{
    background-color: cornflowerblue;
    color:white;
    border-radius: 40px;
    border-color: darkmagenta;
    margin-left: 50px;
}
h1{
    color: mediumblue;
}
#if{
    color: forestgreen;
    font-size: 25px;
}
#google{
    background-color: white;
    font-size: 40px;
    color:green;

}
#facebook{
    background-color: white;
    font-size: 40px;
}
#men{
    left: 20px;
    margin-right: 10px;
}
.category {
    display: none;
}

#electronics {
    display: none; /* Show electronics first */
}
#shoes{
    display: none;
}
body{
    justify-content: center;
    align-items: center;
}